MusicPlayer2/skins/skin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="https://github.com/zhongyang219/MusicPlayer2/skin"
  xmlns="https://github.com/zhongyang219/MusicPlayer2/skin" elementFormDefault="qualified">
  <xs:simpleType name="number_or_percent"><!--定义值类型 number_or_percent-->
    <xs:union><!--值必须符合下列类型种的某一种-->
      <xs:simpleType>
        <xs:restriction base="xs:int"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]*%"></xs:pattern><!--匹配百分数-->
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="font_size">
    <xs:restriction base="xs:int">
      <!--只允许8~16的整数-->
      <xs:minInclusive value="8" />
      <xs:maxInclusive value="16" />
    </xs:restriction>
  </xs:simpleType>
  <!--图标类型-->
  <xs:simpleType name="icon_type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="app">
        <xs:annotation>
          <xs:documentation>应用图标</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="appMonochrome">
        <xs:annotation>
          <xs:documentation>应用图标(单色)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="stop">
        <xs:annotation>
          <xs:documentation>停止</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="play">
        <xs:annotation>
          <xs:documentation>播放</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pause">
        <xs:annotation>
          <xs:documentation>暂停</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="playPause">
        <xs:annotation>
          <xs:documentation>播放/暂停</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="previous">
        <xs:annotation>
          <xs:documentation>上一曲</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="next">
        <xs:annotation>
          <xs:documentation>下一曲</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="favoriteOn">
        <xs:annotation>
          <xs:documentation>添加到我喜欢的音乐（空心♥）</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="favoriteOff">
        <xs:annotation>
          <xs:documentation>从我喜欢的音乐移除（实心♥）</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mediaLib">
        <xs:annotation>
          <xs:documentation>媒体库</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="playlist">
        <xs:annotation>
          <xs:documentation>播放列表</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="menu">
        <xs:annotation>
          <xs:documentation>菜单</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fullScreenOn">
        <xs:annotation>
          <xs:documentation>进入全屏</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fullScreenOff">
        <xs:annotation>
          <xs:documentation>退出全屏</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="minimize">
        <xs:annotation>
          <xs:documentation>最小化</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="maxmizeOn">
        <xs:annotation>
          <xs:documentation>进入最大化</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="maxmizeOff">
        <xs:annotation>
          <xs:documentation>退出最大化</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="close">
        <xs:annotation>
          <xs:documentation>关闭</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="playOrder">
        <xs:annotation>
          <xs:documentation>顺序播放</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="loopPlaylist">
        <xs:annotation>
          <xs:documentation>列表循环</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="loopTrack">
        <xs:annotation>
          <xs:documentation>单曲循环</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="playShuffle">
        <xs:annotation>
          <xs:documentation>无序播放</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="playRandom">
        <xs:annotation>
          <xs:documentation>随机播放</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="playTrack">
        <xs:annotation>
          <xs:documentation>单曲播放</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="setting">
        <xs:annotation>
          <xs:documentation>设置</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="equalizer">
        <xs:annotation>
          <xs:documentation>均衡器</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="skin">
        <xs:annotation>
          <xs:documentation>切换界面（皮肤）</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="miniOn">
        <xs:annotation>
          <xs:documentation>进入迷你模式</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="miniOff">
        <xs:annotation>
          <xs:documentation>退出迷你模式</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="info">
        <xs:annotation>
          <xs:documentation>曲目信息</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="find">
        <xs:annotation>
          <xs:documentation>查找歌曲</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="darkModeOn">
        <xs:annotation>
          <xs:documentation>进入深色模式（月亮）</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="darkModeOff">
        <xs:annotation>
          <xs:documentation>退出深色模式（太阳）</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="volume0">
        <xs:annotation>
          <xs:documentation>音量: 静音</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="volume1">
        <xs:annotation>
          <xs:documentation>音量: )</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="volume2">
        <xs:annotation>
          <xs:documentation>音量: ))</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="volume3">
        <xs:annotation>
          <xs:documentation>音量: )))</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="switchDisplay">
        <xs:annotation>
          <xs:documentation>切换显示（xml界面堆栈元素）</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="folder">
        <xs:annotation>
          <xs:documentation>文件夹</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="music">
        <xs:annotation>
          <xs:documentation>音符/打开文件</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="link">
        <xs:annotation>
          <xs:documentation>曲别针/链接</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="exit">
        <xs:annotation>
          <xs:documentation>退出</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rewind">
        <xs:annotation>
          <xs:documentation>快退</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fastForward">
        <xs:annotation>
          <xs:documentation>快进</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="speedUp">
        <xs:annotation>
          <xs:documentation>加速播放</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="slowDown">
        <xs:annotation>
          <xs:documentation>减速播放</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="add">
        <xs:annotation>
          <xs:documentation>添加</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="save">
        <xs:annotation>
          <xs:documentation>保存</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="saveAs">
        <xs:annotation>
          <xs:documentation>另存为</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sortMode">
        <xs:annotation>
          <xs:documentation>排序模式</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="playlistDisplayMode">
        <xs:annotation>
          <xs:documentation>播放列表显示方式</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="locate">
        <xs:annotation>
          <xs:documentation>定位</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lyric">
        <xs:annotation>
          <xs:documentation>歌词</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="copy">
        <xs:annotation>
          <xs:documentation>复制</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="edit">
        <xs:annotation>
          <xs:documentation>编辑</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unlink">
        <xs:annotation>
          <xs:documentation>取消关联</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="folderExplore">
        <xs:annotation>
          <xs:documentation>文件夹浏览/搜索</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="internalLyric">
        <xs:annotation>
          <xs:documentation>内嵌歌词</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="download">
        <xs:annotation>
          <xs:documentation>下载</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="downloadBatch">
        <xs:annotation>
          <xs:documentation>批量下载</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="playlistDock">
        <xs:annotation>
          <xs:documentation>停靠播放列表/视图</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="playlistFloat">
        <xs:annotation>
          <xs:documentation>浮动播放列表</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pin">
        <xs:annotation>
          <xs:documentation>图钉/置顶</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="convert">
        <xs:annotation>
          <xs:documentation>格式转换</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="online">
        <xs:annotation>
          <xs:documentation>在线查看</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="shortcut">
        <xs:annotation>
          <xs:documentation>快捷方式</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="albumCover">
        <xs:annotation>
          <xs:documentation>专辑封面</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="statistics">
        <xs:annotation>
          <xs:documentation>统计</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fileRelate">
        <xs:annotation>
          <xs:documentation>文件关联</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="help">
        <xs:annotation>
          <xs:documentation>帮助</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fix">
        <xs:annotation>
          <xs:documentation>扳手/修复</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="star">
        <xs:annotation>
          <xs:documentation>星星/分级</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="starSelected">
        <xs:annotation>
          <xs:documentation>点亮的星星</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="artist">
        <xs:annotation>
          <xs:documentation>艺术家</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="album">
        <xs:annotation>
          <xs:documentation>专辑</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="genre">
        <xs:annotation>
          <xs:documentation>流派</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="year">
        <xs:annotation>
          <xs:documentation>年份</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="bitrate">
        <xs:annotation>
          <xs:documentation>比特率</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="history">
        <xs:annotation>
          <xs:documentation>最近播放</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="keyBoard">
        <xs:annotation>
          <xs:documentation>快捷键</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="reverb">
        <xs:annotation>
          <xs:documentation>混响</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="doubleLine">
        <xs:annotation>
          <xs:documentation>双行</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lock">
        <xs:annotation>
          <xs:documentation>锁/桌面歌词锁定</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="playAsNext">
        <xs:annotation>
          <xs:documentation>下一首播放</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rename">
        <xs:annotation>
          <xs:documentation>重命名</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="playInPlaylist">
        <xs:annotation>
          <xs:documentation>添加到新播放列表并播放</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="playInFolder">
        <xs:annotation>
          <xs:documentation>在文件夹模式中播放</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="tag">
        <xs:annotation>
          <xs:documentation>标签</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="more">
        <xs:annotation>
          <xs:documentation>更多</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nowPlaying">
        <xs:annotation>
          <xs:documentation>正在播放</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="karaoke">
        <xs:annotation>
          <xs:documentation>歌词卡拉OK效果</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="refresh">
        <xs:annotation>
          <xs:documentation>刷新</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="newFolder">
        <xs:annotation>
          <xs:documentation>添加新文件夹</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="background">
        <xs:annotation>
          <xs:documentation>背景穿透</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dropDown">
        <xs:annotation>
          <xs:documentation>下拉箭头</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="listPreview">
        <xs:annotation>
          <xs:documentation>列表预览</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="arrowLeft">
        <xs:annotation>
          <xs:documentation>向左箭头（返回）</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="delete">
        <xs:annotation>
          <xs:documentation>删除</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="leTagInsert">
        <xs:annotation>
          <xs:documentation>Le 插入时间标签</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="leTagReplace">
        <xs:annotation>
          <xs:documentation>Le 替换时间标签</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="leTagDelete">
        <xs:annotation>
          <xs:documentation>Le 删除时间标签</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="leSave">
        <xs:annotation>
          <xs:documentation>Le 保存</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="leFind">
        <xs:annotation>
          <xs:documentation>Le 文本查找</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="leReplace">
        <xs:annotation>
          <xs:documentation>Le 文本替换</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="triangleLeft">
        <xs:annotation>
          <xs:documentation>向左三角形</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="triangleUp">
        <xs:annotation>
          <xs:documentation>向上三角形</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="triangleRight">
        <xs:annotation>
          <xs:documentation>向右三角形</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="triangleDown">
        <xs:annotation>
          <xs:documentation>向下三角形</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ok">
        <xs:annotation>
          <xs:documentation>圆/确认</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cancel">
        <xs:annotation>
          <xs:documentation>叉/取消</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="treeCollapsed">
        <xs:annotation>
          <xs:documentation>折叠的树节点</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="treeExpanded">
        <xs:annotation>
          <xs:documentation>展开的树节点</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="defaultCoverPlaying">
        <xs:annotation>
          <xs:documentation>默认封面（播放中）</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="defaultCoverStopped">
        <xs:annotation>
          <xs:documentation>默认封面（已停止）</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:attributeGroup name="sharedattr"><!--定义属性组 sharedattr-->
    <xs:attribute name="id">
      <xs:annotation>
        <xs:documentation> 元素的id。 </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="visible" type="xs:boolean" default="true">
      <xs:annotation>
        <xs:documentation>元素是否默认显示</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="x" type="number_or_percent">
      <xs:annotation>
        <xs:documentation>
          x和y属性用于设置元素左上角的位置。如果元素的父元素是verticalLayout或horizontalLayout，则x和y属性无效。x和y属性用于设置元素基于整个界面的绝对位置，与父元素的位置无关。如果要设置元素基于其父元素的相对位置，请使用margin,margin-left,margin-top属性。
          </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="y" type="number_or_percent">
      <xs:annotation>
        <xs:documentation>
          x和y属性用于设置元素左上角的位置。如果元素的父元素是verticalLayout或horizontalLayout，则x和y属性无效。x和y属性用于设置元素基于整个界面的绝对位置，与父元素的位置无关。如果要设置元素基于其父元素的相对位置，请使用margin,margin-left,margin-top属性。
          </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="width" type="number_or_percent">
      <xs:annotation>
        <xs:documentation> width属性用于设置元素的宽度。父元素为布局容器时未设定子元素等分空闲空间，指定分配比例请使用proportion属性。 </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="height" type="number_or_percent">
      <xs:annotation>
        <xs:documentation> height属性用于设置元素的高度。父元素为布局容器时未设定子元素等分空闲空间，指定分配比例请使用proportion属性。 </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="proportion">
      <xs:annotation>
        <xs:documentation> 父元素为布局元素时有效，指定与其他非固定尺寸子元素分配空闲空间时的比例，在对应布局容器中优先级高于width或height。 </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:int">
          <xs:minInclusive value="1"></xs:minInclusive>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="max-width" type="number_or_percent">
      <xs:annotation>
        <xs:documentation>用于设置元素的最大宽度。值可以是固定的数值或百分比。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="max-height" type="number_or_percent">
      <xs:annotation>
        <xs:documentation>用于设置元素的最大高度。值可以是固定的数值或百分比。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="min-width" type="number_or_percent">
      <xs:annotation>
        <xs:documentation>用于设置元素的最小宽度。值可以是固定的数值或百分比。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="min-height" type="number_or_percent">
      <xs:annotation>
        <xs:documentation>用于设置元素的最小高度。值可以是固定的数值或百分比。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="margin" type="number_or_percent">
      <xs:annotation>
        <xs:documentation>用于设置元素的四个方向的边距。值可以是固定的数值或百分比。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="margin-left" type="number_or_percent">
      <xs:annotation>
        <xs:documentation>用于设置元素的左边距。值可以是固定的数值或百分比。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="margin-right" type="number_or_percent">
      <xs:annotation>
        <xs:documentation>用于设置元素的右边距。值可以是固定的数值或百分比。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="margin-top" type="number_or_percent">
      <xs:annotation>
        <xs:documentation>用于设置元素的上边距。值可以是固定的数值或百分比。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="margin-bottom" type="number_or_percent">
      <xs:annotation>
        <xs:documentation>用于设置元素的下边距。值可以是固定的数值或百分比。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="hide-width" type="number_or_percent">
      <xs:annotation>
        <xs:documentation>当父元素宽度小于此值时隐藏。值可以是固定的数值或百分比。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="hide-height" type="number_or_percent">
      <xs:annotation>
        <xs:documentation>当父元素高度小于此值时隐藏。值可以是固定的数值或百分比。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="listattr">
    <xs:attribute name="item_height" type="xs:int">
      <xs:annotation>
        <xs:documentation>列表项目的高度。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="font_size" default="9" type="font_size">
      <xs:annotation>
        <xs:documentation>字体大小，仅支持8~16。默认大小为9。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!-- 基础元素组 -->
  <xs:group name="elements">
    <xs:sequence><!--sequence 和 choice 配合使用，使得元素可以以任意顺序出现任意次数-->
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="element" type="elementType"></xs:element>
        <xs:element name="verticalLayout" type="verticalLayoutType"></xs:element>
        <xs:element name="horizontalLayout" type="horizontalLayoutType"></xs:element>
        <xs:element name="stackElement" type="stackElementType"></xs:element>
        <xs:element name="rectangle" type="rectangleType"></xs:element>
        <xs:element name="button" type="buttonType"></xs:element>
        <xs:element name="text" type="textType"></xs:element>
        <xs:element name="albumCover" type="albumCoverType"></xs:element>
        <xs:element name="spectrum" type="spectrumType"></xs:element>
        <xs:element name="trackInfo" type="trackInfoType"></xs:element>
        <xs:element name="progressBar" type="progressBarType"></xs:element>
        <xs:element name="lyrics" type="lyricsType"></xs:element>
        <xs:element name="volume" type="volumeType"></xs:element>
        <xs:element name="beatIndicator" type="beatIndicatorType"></xs:element>
        <xs:element name="placeHolder" type="placeHolderType"></xs:element>
        <xs:element name="playlist" type="playlistType"></xs:element>
        <xs:element name="recentPlayedList" type="recentPlayedListType"></xs:element>
        <xs:element name="playlistIndicator" type="playlistIndicatorType"></xs:element>
        <xs:element name="mediaLibItemList" type="mediaLibItemListType"></xs:element>
        <xs:element name="mediaLibFolder" type="mediaLibFolderType"></xs:element>
        <xs:element name="mediaLibPlaylist" type="mediaLibPlaylistType"></xs:element>
        <xs:element name="myFavouriteList" type="myFavouriteListType"></xs:element>
        <xs:element name="navigationBar" type="navigationBarType"></xs:element>
        <xs:element name="miniSpectrum" type="miniSpectrumType"></xs:element>
        <xs:element name="allTracksList" type="allTracksListType"></xs:element>
        <xs:element name="trackList" type="trackListType"></xs:element>
        <xs:element name="classicalControlBar" type="classicalControlBarType"></xs:element>
        <xs:element name="medialibFolderExplore" type="medialibFolderExploreType"></xs:element>
        <xs:element name="searchBox" type="searchBoxType"></xs:element>
        <xs:element name="elementSwitcher" type="elementSwitcherType"></xs:element>
        <xs:element name="icon" type="iconType"></xs:element>
        <xs:element name="rating" type="ratingType"></xs:element>
        <xs:element name="checkBox" type="checkBoxType"></xs:element>
        <xs:element name="radioButton" type="radioButtonType"></xs:element>
        <xs:element name="toggleButton" type="toggleButtonType"></xs:element>
        <xs:element name="toggleSettingGroup" type="toggleSettingGroupType"></xs:element>
        <xs:element name="scrollArea" type="scrollAreaType"></xs:element>
        <xs:element name="listElement" type="listElementType"></xs:element>
        <xs:element name="comboBox" type="comboBoxType"></xs:element>
        <xs:element name="slider" type="sliderType"></xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <!-- navigationBar 元素组 -->
  <xs:group name="navigationBarElements">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="elements"/>
        <xs:element name="navigationItem" type="navigationItemType"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <!--scrollArea 元素组-->
  <xs:group name="scrollAreaElements">
    <xs:sequence>
      <!-- scrollArea 下面 verticalLayout 元素必须出现，且只能出现一次 -->
      <xs:element name="verticalLayout" type="verticalLayoutType"></xs:element>
    </xs:sequence>  </xs:group>
  <xs:element name="root">
    <!--定义root元素信息-->
    <xs:annotation>
      <xs:documentation>根节点</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <!--使用choice元素，允许ui或panel元素出现-->
        <!--定义名称为ui的元素，种类为uitype-->
        <xs:element name="ui" type="uitype">
          <xs:annotation>
            <xs:documentation> 界面。一个xml文件可以包含多个界面，分别为不同大小时切换。 </xs:documentation>
          </xs:annotation>
        </xs:element>
        <!--定义名称为panel的元素，种类为panelType-->
        <xs:element name="panel" type="panelType">
          <xs:annotation>
            <xs:documentation> 面板。 </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="element" type="elementType">
        </xs:element>
      </xs:choice>
      <xs:attribute name="name" type="xs:string">
        <!--root元素可以有name属性-->
        <xs:annotation>
          <xs:documentation> 此界面的名称，会显示到"切换界面"子菜单中。如果未定义此属性，则会使用默认的名称"界面+序号"。 </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="index" type="xs:int">
        <xs:annotation>
          <xs:documentation> 界面的序号，至少为3。序号不能与其他界面重复。未定义此属性的界面总是排在后面。 </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
      <!--引用属性组sharedattr-->
    </xs:complexType>
  </xs:element>
  <xs:complexType name="uitype"><!--定义元素种类uitype-->
    <xs:group ref="elements"></xs:group>
    <xs:attribute name="type"><!--定义type属性-->
      <xs:annotation>
        <xs:documentation>界面类型。</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string"><!--type属性必须是以下值-->
          <xs:enumeration value="big">
            <xs:annotation>
              <xs:documentation>界面宽度和高度大于一定值时的界面。</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="narrow">
            <xs:annotation>
              <xs:documentation>界面宽度小于一定值时的界面。</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="small">
            <xs:annotation>
              <xs:documentation>界面宽度和高度都小于一定值时的界面。</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup><!--引用属性组sharedattr-->
  </xs:complexType>
  <xs:complexType name="elementType">
    <xs:annotation>
      <xs:documentation>一个空白的元素，不绘制任何东西，可用于作为其他元素的父节点。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="panelType">
    <xs:annotation>
      <xs:documentation>用于作为面板的父节点，本身不绘制任何东西。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="verticalLayoutType">
    <xs:annotation>
      <xs:documentation>垂直布局元素。让界面元素依次摆放到界面中，且不会发生重叠的现象。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="horizontalLayoutType">
    <xs:annotation>
      <xs:documentation>水平布局元素。让界面元素依次摆放到界面中，且不会发生重叠的现象。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="stackElementType">
    <xs:annotation>
      <xs:documentation>堆叠元素，可包含多个子元素，其所有子元素中只显示其中一个。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attribute name="click_to_switch" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>如果为true，则可以通过单击切换显示。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="scroll_to_switch" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>如果为true，则可以通过鼠标滚轮切换显示。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="hover_to_switch" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>如果为true，则可以鼠标指向时会显示下一个界面，鼠标移开时恢复。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sweep_to_switch" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>如果为true，则可以通过鼠标按下后左右拖动切换显示。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="show_indicator" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>如果为true，则会在下方显示一个由小圆点组成的切换指示器，点击可以切换显示。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="indicator_offset" type="xs:int">
      <xs:annotation>
        <xs:documentation>指示器垂直方向的偏移量。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="size_change_to_switch" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>如果为true，则元素尺寸变化时切换动切换显示。需要配合size_change_condition和size_change_value属性使用。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="size_change_condition">
      <xs:annotation>
        <xs:documentation>尺寸变化切换的条件，当满足指定的条件时会切换到下一个界面，不满足条件时恢复。仅当size_change_to_switch为true时有效</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="widthGreaterThan">
            <xs:annotation>
              <xs:documentation>宽度大于时</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="widthLessThan">
            <xs:annotation>
              <xs:documentation>宽度小于时</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="heightGreaterThan">
            <xs:annotation>
              <xs:documentation>高度大于时</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="heightLessThan">
            <xs:annotation>
              <xs:documentation>高度小于时</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="size_change_value" type="number_or_percent">
      <xs:annotation>
        <xs:documentation>尺寸变化切换条件的值。仅当size_change_to_switch为true且设置了size_change_condition属性时有效。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="related_stack_elements" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          关联和的stackElement的id，如果有多个使用半角逗号分隔。如果设置了此属性，则当stackElement切换显示时，与之关联的stackElement也会同步切换显示。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="follow_child_width" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>如果为true，且子元素指定了宽度时，宽度跟随当前显示的子元素。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="follow_child_height" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>如果为true，且子元素指定了高度时，高度跟随当前显示的子元素。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="rectangleType">
    <xs:annotation>
      <xs:documentation>一个半透明的矩形。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attribute name="no_corner_radius" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>如果为true，则矩形总是为直角；如果为false，则在“选项”——“外观设置”中勾选“使用圆角风格按钮”时，矩形显示为圆角矩形。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="theme_color" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>矩形颜色是否使用主题颜色</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="color_mode" default="auto">
      <xs:annotation>
        <xs:documentation>矩形的颜色模式。</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="auto">
            <xs:annotation>
              <xs:documentation>自动适应界面深浅色主题。</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="dark">
            <xs:annotation>
              <xs:documentation>深色</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="light">
            <xs:annotation>
              <xs:documentation>浅色</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="buttonType">
    <xs:annotation>
      <xs:documentation>按钮</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attribute name="key">
      <xs:annotation>
        <xs:documentation> 按钮的类型。 </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="menu">
            <xs:annotation>
              <xs:documentation>菜单</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="miniMode">
            <xs:annotation>
              <xs:documentation>迷你模式</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="miniModeClose">
            <xs:annotation>
              <xs:documentation>迷你模式界面中使用的关闭按钮</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="fullScreen">
            <xs:annotation>
              <xs:documentation>全屏模式</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="repeatMode">
            <xs:annotation>
              <xs:documentation>循环模式</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="settings">
            <xs:annotation>
              <xs:documentation>设置</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="equalizer">
            <xs:annotation>
              <xs:documentation>均衡器</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="skin">
            <xs:annotation>
              <xs:documentation>切换界面</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="info">
            <xs:annotation>
              <xs:documentation>曲目信息</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="find">
            <xs:annotation>
              <xs:documentation>查找</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="abRepeat">
            <xs:annotation>
              <xs:documentation>AB重复</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="desktopLyric">
            <xs:annotation>
              <xs:documentation>显示桌面歌词</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="lyricTranslate">
            <xs:annotation>
              <xs:documentation>显示歌词翻译</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="stop">
            <xs:annotation>
              <xs:documentation>停止</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="previous">
            <xs:annotation>
              <xs:documentation>上一曲</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="next">
            <xs:annotation>
              <xs:documentation>下一曲</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="playPause">
            <xs:annotation>
              <xs:documentation>播放/暂停</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="favorite">
            <xs:annotation>
              <xs:documentation>添加到“我喜欢的音乐”</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="mediaLib">
            <xs:annotation>
              <xs:documentation>媒体库</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="showPlaylist">
            <xs:annotation>
              <xs:documentation>显示/隐藏播放列表</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="addToPlaylist">
            <xs:annotation>
              <xs:documentation>添加到播放列表</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="switchDisplay">
            <xs:annotation>
              <xs:documentation>
                切换界面中stackElement元素的显示。如果界面中有多个stackElement元素，则点击此按钮会切换第一个stackElement元素的显示。
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="darkLightMode">
            <xs:annotation>
              <xs:documentation>在深色模式和浅色模式之间切换。</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="locateTrack">
            <xs:annotation>
              <xs:documentation>播放列表定位到正在播放的曲目。</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="openFolder">
            <xs:annotation>
              <xs:documentation>打开文件夹。</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="newPlaylist">
            <xs:annotation>
              <xs:documentation>新建播放列表。</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="playMyFavourite">
            <xs:annotation>
              <xs:documentation>播放“我喜欢的音乐”。</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="playAllTracks">
            <xs:annotation>
              <xs:documentation>播放“所有曲目”。</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="medialibFolderSort">
            <xs:annotation>
              <xs:documentation>媒体库“文件夹”排序方式。</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="medialibPlaylistSort">
            <xs:annotation>
              <xs:documentation>媒体库“播放列表”排序方式。</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="karaoke">
            <xs:annotation>
              <xs:documentation>歌词卡拉OK效果显示。</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="showPlayQueue">
            <xs:annotation>
              <xs:documentation>显示正确播放曲目队列。</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="closePanel">
            <xs:annotation>
              <xs:documentation>关闭面板。</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="showPanel">
            <xs:annotation>
              <xs:documentation>显示面板。</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="showHideElement">
            <xs:annotation>
              <xs:documentation>显示/隐藏元素。</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="showSettingsPanel">
            <xs:annotation>
              <xs:documentation>显示设置面板。</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="bigIcon" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>如果为false，则图标尺寸为16x16；如果为true，则图标尺寸为20x20</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="show_text" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>是否显示文本</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="font_size" default="9" type="font_size">
      <xs:annotation>
        <xs:documentation>字体大小，use_default_font为true时有效，仅支持8~16。默认大小为9。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="text" type="xs:string">
      <xs:annotation>
        <xs:documentation>按钮的文本。如果不指定则显示文本由按钮类型决定</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="icon" type="icon_type">
      <xs:annotation>
        <xs:documentation> 按钮图标，如果未指定则由按钮的类型决定。 </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="panel_file_name" type="xs:string">
      <xs:annotation>
        <xs:documentation>面板xml文件的文件名，点击按钮后将打开一个面板。仅当key指定为showPanel时有效。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="panel_id" type="xs:string">
      <xs:annotation>
        <xs:documentation>面板的id，点击按钮后将打开对应的面板。仅当key指定为showPanel时有效。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="related_element_id" type="xs:string">
      <xs:annotation>
        <xs:documentation>关联元素的的id，点击按钮后将显示/隐藏对应的元素。仅当key指定为showHideElement时有效。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="hand_cursor" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>是否显示为手形光标</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="empty_btn" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>是否为空的按钮</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="textType">
    <xs:annotation>
      <xs:documentation>文本</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attribute name="text" type="xs:string">
      <xs:annotation>
        <xs:documentation>显示的文本。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="alignment" default="left">
      <xs:annotation>
        <xs:documentation>对齐方式。</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="left">
            <xs:annotation>
              <xs:documentation>左对齐</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="right">
            <xs:annotation>
              <xs:documentation>右对齐</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="center">
            <xs:annotation>
              <xs:documentation>居中</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="style" default="static">
      <xs:annotation>
        <xs:documentation>文本的样式。</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="static">
            <xs:annotation>
              <xs:documentation>静止的文本</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="scroll">
            <xs:annotation>
              <xs:documentation>滚动的文本</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="scroll2">
            <xs:annotation>
              <xs:documentation>另一种滚动的文本（只朝一个方向滚动）</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="type" default="userDefine">
      <xs:annotation>
        <xs:documentation>文本的类型。</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="userDefine">
            <xs:annotation>
              <xs:documentation>显示的文本由text属性的值决定</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="title">
            <xs:annotation>
              <xs:documentation>显示歌曲标题</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="artist">
            <xs:annotation>
              <xs:documentation>显示歌曲艺术家</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="album">
            <xs:annotation>
              <xs:documentation>显示歌曲唱片集</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="artist_title">
            <xs:annotation>
              <xs:documentation>显示为“艺术家 - 标题”</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="artist_album">
            <xs:annotation>
              <xs:documentation>显示为“艺术家 - 唱片集”</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="format">
            <xs:annotation>
              <xs:documentation>显示歌曲格式</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="play_time">
            <xs:annotation>
              <xs:documentation>播放时间</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="play_time_and_volume">
            <xs:annotation>
              <xs:documentation>显示播放时间，如果正在调整音量，会显示当前音量，一段时间后恢复。</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="font_size" default="9" type="font_size">
      <xs:annotation>
        <xs:documentation>字体大小，仅支持8~16。默认大小为9。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="width_follow_text" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>元素宽度是否跟随文字宽度，即当设定宽度大于文字宽度时收缩到文字宽度。优先级低于元素宽度最值设定。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="color_mode" default="auto">
      <xs:annotation>
        <xs:documentation>文本的颜色模式。</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="auto">
            <xs:annotation>
              <xs:documentation>自动适应界面深浅色主题。</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="dark">
            <xs:annotation>
              <xs:documentation>深色</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="light">
            <xs:annotation>
              <xs:documentation>浅色</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="color_style" default="default">
      <xs:annotation>
        <xs:documentation>文本的颜色样式。</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="default">
            <xs:annotation>
              <xs:documentation>默认颜色。</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="emphasis1">
            <xs:annotation>
              <xs:documentation>强调色1。</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="emphasis2">
            <xs:annotation>
              <xs:documentation>强调色2。</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="albumCoverType">
    <xs:annotation>
      <xs:documentation>专辑封面</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attribute name="square" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>如果为true，则总是使用正方形的专辑封面。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="show_info" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>是否在专辑封面上显示歌曲标题和艺术家。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="spectrumType">
    <xs:annotation>
      <xs:documentation>频谱分析</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attribute name="draw_reflex" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>是否绘制倒影。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="fixed_width" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>每个柱形是否使用相同的宽度。如果为ture，则频谱分析的宽度将始终保持不变。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" default="64col">
      <xs:annotation>
        <xs:documentation>频谱分析的类型（柱形数量）</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="auto_col"></xs:enumeration>
          <xs:enumeration value="128col"></xs:enumeration>
          <xs:enumeration value="64col"></xs:enumeration>
          <xs:enumeration value="32col"></xs:enumeration>
          <xs:enumeration value="16col"></xs:enumeration>
          <xs:enumeration value="8col"></xs:enumeration>
          <xs:enumeration value="4col"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="alignment" default="left">
      <xs:annotation>
        <xs:documentation>对齐方式。</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="left">
            <xs:annotation>
              <xs:documentation>左对齐</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="right">
            <xs:annotation>
              <xs:documentation>右对齐</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="center">
            <xs:annotation>
              <xs:documentation>居中</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="trackInfoType">
    <xs:annotation>
      <xs:documentation>曲目信息（包含播放状态、文件名、歌曲标识、速度）</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attribute name="font_size" default="9" type="font_size">
      <xs:annotation>
        <xs:documentation>字体大小，仅支持8~16。默认大小为9。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="progressBarType">
    <xs:annotation>
      <xs:documentation>进度条</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attribute name="show_play_time" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>是否在进度条右边显示播放时间。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="play_time_both_side" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>播放时间是否显示在进度条的两侧。仅当show_play_time为true时有效。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="lyricsType">
    <xs:annotation>
      <xs:documentation> 显示歌词的区域。歌词的显示会自动根据歌词区域的大小切换单行、双行、多行显示模式。在此区域点击鼠标右键会弹出歌词右键菜单。 </xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attribute name="no_background" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>设置为true时总是不绘制歌词背景</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="use_default_font" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>设置为true时歌词总是使用默认字体</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="font_size" default="9" type="font_size">
      <xs:annotation>
        <xs:documentation>歌词字体大小，use_default_font为true时有效，仅支持8~16。默认大小为9。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="show_song_info" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>设置为true时总是在没有歌词时显示歌曲信息</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="context_menu_enable" type="xs:boolean" default="true">
      <xs:annotation>
        <xs:documentation>鼠标右击歌词区域时是否弹出歌词右键菜单</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="volumeType">
    <xs:annotation>
      <xs:documentation>音量按钮，点击后会弹出音量调节按钮</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attribute name="show_text" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>是否在音量图标旁边显示文本。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="adj_btn_on_top" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation> 点击音量图标后出现的音量调节按钮是否显示在音量图标的上方。默认显示在音量图标的下方。 </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="beatIndicatorType">
    <xs:annotation>
      <xs:documentation>一个由&lt;&lt;&lt;&lt;组成的节拍指示。它仅在播放Midi音乐时才会指示正确的节拍。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="classicalControlBarType">
    <xs:annotation>
      <xs:documentation>一个由包含进度条，以及停止、上一曲、播放/暂停、下一曲、收藏、媒体库、播放列表按钮的播放控制栏。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attribute name="show_switch_display_btn" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>是否显示“切换界面”按钮。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="placeHolderType">
    <xs:annotation>
      <xs:documentation>placeHolder元素是一个占位符，它不显示任何东西。</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
    <xs:attribute name="show_when_use_system_titlebar" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>如果为true，则仅当开启“使用系统标准标题栏”时才显示。默认为false。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="playlistType">
    <xs:annotation>
      <xs:documentation>播放列表。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
    <xs:attributeGroup ref="listattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="playlistIndicatorType">
    <xs:annotation>
      <xs:documentation>指示当前播放列表和一个下拉按钮。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attribute name="font_size" default="9" type="font_size">
      <xs:annotation>
        <xs:documentation>字体大小，仅支持8~16。默认大小为9。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="recentPlayedListType">
    <xs:annotation>
      <xs:documentation>最近播放项目的列表。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attribute name="track_list_element_id" type="xs:string">
      <xs:annotation>
        <xs:documentation>显示详细曲目列表的trackList元素的id。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
    <xs:attributeGroup ref="listattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="mediaLibItemListType">
    <xs:annotation>
      <xs:documentation>媒体库项目列表。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attribute name="type">
      <xs:annotation>
        <xs:documentation>类型。</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="artist">
            <xs:annotation>
              <xs:documentation>艺术家</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="album">
            <xs:annotation>
              <xs:documentation>唱片集</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="genre">
            <xs:annotation>
              <xs:documentation>流派</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="year">
            <xs:annotation>
              <xs:documentation>年份</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="file_type">
            <xs:annotation>
              <xs:documentation>文件类型</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="bitrate">
            <xs:annotation>
              <xs:documentation>比特率</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="rating">
            <xs:annotation>
              <xs:documentation>分级</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="track_list_element_id" type="xs:string">
      <xs:annotation>
        <xs:documentation>显示详细曲目列表的trackList元素的id。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
    <xs:attributeGroup ref="listattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="navigationBarType">
    <xs:annotation>
      <xs:documentation>
        导航栏。用于控制stackElement的切换。使用stack_element_id元素指定要切换的stackElement，如果未指定stack_element_id元素，则依次向上在它的所有父节点下面查找stackElement，如果未找到，则作用于ui元素下第一个stackElement。
        要设置导航栏的标签列表，请添加navigationItem类型的元素作为子节点。
      </xs:documentation>
    </xs:annotation>
    <xs:group ref="navigationBarElements"></xs:group>
    <xs:attribute name="item_list">
      <xs:annotation>
        <xs:documentation>
          标签列表，标签只能在“album_cover,spectrum,lyrics,now_playing,play_queue,recently_played,folder,playlist,artist,album,genre,year,file_type,bitrate,rating,media_lib,my_favourite,all_tracks,folder_explore”中选，多个标签使用半角逗号隔开。
          如果需要更加灵活地指定导航栏的标签列表，请添加navigationItem类型的元素作为子节点。
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern
            value="^(album_cover|spectrum|lyrics|now_playing|play_queue|recently_played|folder|playlist|artist|album|genre|year|file_type|bitrate|rating|media_lib|my_favourite|all_tracks|folder_explore)(,(album_cover|spectrum|lyrics|now_playing|play_queue|recently_played|folder|playlist|artist|album|genre|year|file_type|bitrate|rating|media_lib|my_favourite|all_tracks|folder_explore))*$" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="icon_type" default="icon_and_text">
      <xs:annotation>
        <xs:documentation>图标类型。</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="icon_and_text">
            <xs:annotation>
              <xs:documentation>图标和文本</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="icon_only">
            <xs:annotation>
              <xs:documentation>仅图标</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="text_only">
            <xs:annotation>
              <xs:documentation>仅文本</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="orientation" default="horizontal">
      <xs:annotation>
        <xs:documentation>排列方向。</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="horizontal">
            <xs:annotation>
              <xs:documentation>水平排列</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="vertical">
            <xs:annotation>
              <xs:documentation>垂直排列</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="item_space" type="xs:int">
      <xs:annotation>
        <xs:documentation>项目间距</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="item_height" type="xs:int">
      <xs:annotation>
        <xs:documentation>标签的高度。仅在垂直排列模式下起作用。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="item_left_space" type="xs:int">
      <xs:annotation>
        <xs:documentation>垂直排列模式下，且样式为图标和文本或仅文本时，图标或文本左侧的边距，默认为4。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="font_size" default="9" type="font_size">
      <xs:annotation>
        <xs:documentation>字体大小，仅支持8~16。默认大小为9。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="stack_element_id" type="xs:string">
      <xs:annotation>
        <xs:documentation>要切换的stackElement的id。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="related_navigation_bars" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          关联的navigationBar的id，如果有多个使用半角逗号分隔。如果设置了此属性，则当navigationBar的index切换时，与之关联的navigationBar也会同步切换。
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="mediaLibFolderType">
    <xs:annotation>
      <xs:documentation>媒体库的文件夹。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attribute name="track_list_element_id" type="xs:string">
      <xs:annotation>
        <xs:documentation>显示详细曲目列表的trackList元素的id。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
    <xs:attributeGroup ref="listattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="mediaLibPlaylistType">
    <xs:annotation>
      <xs:documentation>媒体库的播放列表。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attribute name="track_list_element_id" type="xs:string">
      <xs:annotation>
        <xs:documentation>显示详细曲目列表的trackList元素的id。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
    <xs:attributeGroup ref="listattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="myFavouriteListType">
    <xs:annotation>
      <xs:documentation>我喜欢的音乐列表。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
    <xs:attributeGroup ref="listattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="allTracksListType">
    <xs:annotation>
      <xs:documentation>所有曲目列表。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
    <xs:attributeGroup ref="listattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="trackListType">
    <xs:annotation>
      <xs:documentation>自定义曲目列表。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
    <xs:attributeGroup ref="listattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="miniSpectrumType">
    <xs:annotation>
      <xs:documentation>图标大小的频谱分析。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="medialibFolderExploreType">
    <xs:annotation>
      <xs:documentation>媒体库中的文件夹浏览。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attribute name="track_list_element_id" type="xs:string">
      <xs:annotation>
        <xs:documentation>显示详细曲目列表的trackList元素的id。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
    <xs:attributeGroup ref="listattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="searchBoxType">
    <xs:annotation>
      <xs:documentation>搜索框。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attribute name="list_element_id" type="xs:string">
      <xs:annotation>
        <xs:documentation>关联的listElement的id。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="elementSwitcherType">
    <xs:annotation>
      <xs:documentation>用于切换stackElement的切换器。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attribute name="style" default="empty">
      <xs:annotation>
        <xs:documentation>切换器的样式。</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="empty">
            <xs:annotation>
              <xs:documentation>空白</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="album_cover">
            <xs:annotation>
              <xs:documentation>专辑封面</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="button">
            <xs:annotation>
              <xs:documentation>按钮</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="stack_element_id" type="xs:string">
      <xs:annotation>
        <xs:documentation>要切换的stackElement的id。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="stack_element_index" type="xs:int" default="0">
      <xs:annotation>
        <xs:documentation>要切换的stackElement的索引。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="icon" type="icon_type">
      <xs:annotation>
        <xs:documentation> 按钮图标。仅当style为button时有效。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="text" type="xs:string">
      <xs:annotation>
        <xs:documentation>鼠标提示的文本。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="iconType">
    <xs:annotation>
      <xs:documentation>一个静态图标。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attribute name="icon" type="icon_type">
      <xs:annotation>
        <xs:documentation>图标类型。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="navigationItemType">
    <xs:annotation>
      <xs:documentation>一个导航栏的标签。</xs:documentation>
    </xs:annotation>
    <xs:attribute name="icon" type="icon_type">
      <xs:annotation>
        <xs:documentation>导航栏标签的图标类型。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="text" type="xs:string">
      <xs:annotation>
        <xs:documentation>导航栏标签的文本。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ratingType">
    <xs:annotation>
      <xs:documentation>歌曲分级（5个五角星）。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="checkBoxType">
    <xs:annotation>
      <xs:documentation>复选框。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attribute name="text" type="xs:string">
      <xs:annotation>
        <xs:documentation>显示的文本。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="radioButtonType">
    <xs:annotation>
      <xs:documentation>单选框。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attribute name="text" type="xs:string">
      <xs:annotation>
        <xs:documentation>显示的文本。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="group" type="xs:string">
      <xs:annotation>
        <xs:documentation>单选按钮所在组，每组只会有一个单选按钮处于选中状态。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="toggleButtonType">
    <xs:annotation>
      <xs:documentation>开关按钮。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="toggleSettingGroupType">
    <xs:annotation>
      <xs:documentation>带开关按钮的选项设置组。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attribute name="icon" type="icon_type">
      <xs:annotation>
        <xs:documentation>左侧的图标。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="mainText" type="xs:string">
      <xs:annotation>
        <xs:documentation>主要的文本。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="subText" type="xs:string">
      <xs:annotation>
        <xs:documentation>次要的文本。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="scrollAreaType">
    <xs:annotation>
      <xs:documentation>滚动区域（垂直）。</xs:documentation>
    </xs:annotation>
    <xs:group ref="scrollAreaElements"></xs:group>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="listElementType">
    <xs:annotation>
      <xs:documentation>通用列表控件。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="comboBoxType">
    <xs:annotation>
      <xs:documentation>下拉列表控件。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
  <xs:complexType name="sliderType">
    <xs:annotation>
      <xs:documentation>滑动条控件。</xs:documentation>
    </xs:annotation>
    <xs:group ref="elements"></xs:group>
    <xs:attribute name="orientation" default="horizontal">
      <xs:annotation>
        <xs:documentation>滑动条的方向。</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="horizontal">
            <xs:annotation>
              <xs:documentation>水平</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="vertical">
            <xs:annotation>
              <xs:documentation>垂直</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="min_value" type="xs:int" default="0">
      <xs:annotation>
        <xs:documentation>滑动条的最小值。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="max_value" type="xs:int" default="0">
      <xs:annotation>
        <xs:documentation>滑动条的最大值。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="sharedattr"></xs:attributeGroup>
  </xs:complexType>
</xs:schema>